<template name="form_tracker">
    <div class="registration-form">
        <form class="form-horizontal" action="#" method="post">
            <fieldset>

                {{> travelMethod}}
                {{> startStop}}
                {{> stopwatch}}
                {{> distance}}

                {{> recentJourneys}}

            </fieldset> 
        </form>
    </div>
</template>

<template name="travelMethod">
  <p class="controls">
    <div class="btn-group btn-group-justified">
      
      <div class="btn-group">
        <button id="walk" type="button" data-travel-method="walk" class="btn btn-default">
          <i class="fa fa-male"></i> Walk
        </button>
      </div>
      
      <div class="btn-group">
        <button id="cycle" type="button" data-travel-method="cycle" class="btn btn-default">
          <i class="fa fa-bicycle"></i> Cycle
        </button>
      </div>
      
      <!-- Add the extra clearfix for only the required viewport -->
      <div class="clearfix visible-xs-block"></div>
      
      <div class="btn-group">
        <button id="bus" type="button" data-travel-method="bus" class="btn btn-default">
          <i class="fa fa-bus"></i> Bus
        </button>
      </div>
      
      <!-- Add the extra clearfix for only the required viewport -->
      <div class="clearfix visible-sm-block"></div>
      
      <div class="btn-group">
        <button id="train" type="button" data-travel-method="train" class="btn btn-default">
          <i class="fa fa-share-alt"></i> Train
        </button>
      </div>
      
      <!-- Add the extra clearfix for only the required viewport -->
      <div class="clearfix visible-xs-block"></div>
      
      <div class="btn-group">
        <button id="carshare" type="button" data-travel-method="carshare" class="btn btn-default">
          <i class="fa fa-users"></i> Car share
        </button>
      </div>
      
      <div class="btn-group">
        <button id="car" type="button" data-travel-method="car" class="btn btn-default">
          <i class="fa fa-car"></i> car
        </button>
      </div>

    </div>
  </p>
</template>

<template name="startStop">
  <p class="controls">
    <div class="btn-group btn-group-justified">
      {{#if isTracking}}
        <a id="stop" class="btn btn-danger">Finish</a>
      {{else}}
        <a id="start" class="btn btn-success">Start</a>
      {{/if}}
    </div>
  </p>
</template>

<template name="stopwatch">
  <p class="controls">
    <div class="input-group input-group-lg">
      <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
      <input type="text" class="form-control" readonly="readonly" value="{{stopwatchValue}}">
    </div>
  </p>
</template>

<template name="distance">
  <p class="controls">
    <div class="input-group input-group-lg">
      <span class="input-group-addon"><i class="fa fa-tachometer"></i></span>
      <input type="text" class="form-control" readonly="readonly" value="{{distanceValue}}">
      <span class="input-group-addon">Miles</span>
    </div>
  </p>
</template>

<template name="recentJourneys">
  <h2>Recent Journeys</h2>
  <table class="table table-striped">
    <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Duration</th>
        <th>Distance</th>
        <th>Points</th>
    </tr>
    {{#each journeys}}
      <tr>
          <td>{{date}}</td>
          <td>{{travelMethod}}</td>
          <td>{{duration}}</td>
          <td>{{distance}} Miles</td>
          <td>{{points}}</td>
      </tr>
    {{else}}
      <tr>
          <td colspan="4">
            You have not currently recorded any journeys. Why not go for a walk and record one now?
          </td>
      </tr>
    {{/each}}
  </table>
</template>